@use "./Header.scss";
@use "./Main_page.scss";
@use "./Top_content.scss";
@use "./Working_with_get_request.scss";
@use "./Working_with_post_request.scss";

:root{
    --backgroundColor: #F8F8F8; 
    --disabledBackground: #B4B4B4;
    --buttonHoverBackground: #FFE302;

    --lightColor: #FFFFFF;
    --transparentDarkColor: rgba(10, 10, 10, 0.5);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    font-family: nunito;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 6rem;
    height: 2rem;
    border-radius: 5rem;
}

button:hover{
    background-color: var(--buttonHoverBackground);
}
