@use "./Header.scss";
@use "./Main_page.scss";
@use "./Top_content.scss";
@use "./Working_with_get_request.scss";
@use "./Working_with_post_request.scss";
@use "./Message_window.scss";
@use "./media_queries.scss";

:root{
    --backgroundColor: #F8F8F8; 
    --disabledBackground: #B4B4B4;
    --buttonHoverBackground: #FFE302;

    --lightColor: #FFFFFF;
    --transparentDarkColor: rgba(10, 10, 10, 0.5);

    --primaryColor: #F4E041;
    --secondaryColor: #00BDD3;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    font-family: "Nunito";
}

.app{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: max-content;
    min-width: 6rem;
    height: 2rem;
    border-radius: 5rem;
}

button, .roundedButton{
    &:hover{
        background-color: var(--buttonHoverBackground) !important; /*To override MUI hover styles*/
    }
}

button{
    &:disabled{
        color: var(--lightColor) !important; /*To override MUI styles*/
        background-color: var(--disabledBackground);
    }
}

.roundedButton{
    width: 6rem !important;
    height: 2rem !important;
    border-radius: 5rem !important;
}
