.workingWithGetRequest{
    text-align: center;
}

.users{
    margin: 40px 0 40px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.userCard{
    background-color: var(--lightColor);
}

.userInfo{
    width: 90%;
    -webkit-line-clamp: 4
}

.userCard{ /*Do the same for user info*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.userCard{
    >*{
        margin: 20px;
    }
}

.userPhoto{
    border-radius: 50%;
}

.userInfo > *{
    margin: 5px;
    display: inline-block;
}