#workingWithGetRequest{
    width: 100%;
    margin-top: 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        margin: 0
    }
}

.users{
    width: 90%;
    margin: 40px 0 40px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}


.userCard{
    background-color: var(--lightColor);
}

.userInfo{
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.userCard{
    >*{
        margin-bottom: 20px;
    }
}

.userCard, .userPosition, .userEmail{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.userPosition, .userEmail{
    width: 90%;
}

.userPhoto{
    border-radius: 50%;
}

.userInfo{
    >*{
        margin: 5px;
        display: inline-block;
    }
}
