#workingWithPostRequest{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#workingWithPostRequest{
    h1{
        text-align: center;
        margin-bottom: 3rem;
    }
}

/*---SignUpForm---*/

.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUpForm{
    >*{
        margin-bottom: 1rem;
       
    }
}

.signUpFormTextField{
    width: 380px;
}

.signUpForm > *, .signUpFormTextField{
    margin-bottom: 3rem
}

.phoneInput{
    position: relative;

    &::after{
        content: "+38 (XXX) XXX - XX - XX";
        position: absolute;
        bottom: 0;
        left: 1rem;
        transform: translateY(120%);
        color: var(--disabledBackground);
    }
}

.signUpFormControll{
    align-self: flex-start;
}

.photoSelectContainer{
    text-align: center;
}

.photoSelect{
    width: 5rem;
    height: 3.5rem;
}

.photoSelectError{
    color: red;
}