#workingWithPostRequest{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#workingWithPostRequest h2{
    margin-top: 7rem;
    text-align: center;
}

/*---SignUpForm---*/

.signUpForm{
    display: flex;
    flex-direction: column;
}

.signUpForm{
    >*{
        margin-bottom: 1rem;
       
    }
}

.signUpFormTextField{
    width: 380px;
}

.signUpForm > *, .signUpFormTextField{
    margin-bottom: 3rem
}